<launch>

    <!-- Joint State Node -->    
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
      <param name="use_tf_static" value="true"/>
    </node>

    <param name="robot_description" command="$(find xacro)/xacro $(find rr_openrover_description)/urdf/4WD_rover.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="use_tf_static" value="true"/>
    </node>

</launch>
